* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  text-align: center;
  font-family: "Fira Code", monospace;
}

html {
  font-size: 52.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  line-height: 1.4;
}

:root {
  --main-color: #0f1626;
  --sub-color: #f5f5f5;
  --back-color: #ab987a;
  --contrast-color: #ff533d;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 48%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 40%;
  }
}

/*--NAV--*/

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: var(--back-color);
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 6px 1px #000;
}

@media screen and (max-width: 28.75rem) {
  .nav {
    justify-content: center;
  }
}

.nav ul {
  display: flex;
  height: 100%;
  width: 25%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 85rem) {
  .nav ul {
    width: 50%;
  }
}

.link-section {
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--sub-color);
  transition: all 0.22s;
}

.link-section:hover {
  color: var(--main-color);
  outline: none;
}

/*---WELCOME SECTION---*/

.welcome {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  background-image: linear-gradient(270deg, #0f1609 0%, #0f2645 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}

.welcome h1,
.welcome h2 {
  color: var(--sub-color);
  text-shadow: 1px 1px 5px #000;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

/*---PROJECTS---*/

.projects-section {
  height: 100%;
  background-color: var(--sub-color);
  text-align: center;
  padding: 10rem 2rem;
}

.projects-header {
  font-size: 2.5em;
  margin: 0 auto 6rem auto;
  color: var(--main-color);
  border-bottom: 2px solid var(--contrast-color);
}

@media screen and (max-width: 28.75rem) {
  .projects-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  align-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project-tile,
.project-title {
  width: 100%;
  height: 100%;
}

.project-tile {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}

.project-tile a {
  text-decoration: none;
}

.project-img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  height: 4rem;
  color: var(--sub-color);
  font-size: 1.1em;
  font-weight: bold;
}

.code {
  color: var(--main-color);
  transition: 0.2s;
}

.project-tile:hover .project-title .code {
  color: var(--contrast-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 2px;
  text-decoration: none;
  color: var(--sub-color);
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-color);
  transition: color 0.3s ease-out;
}

.btn-show-all:hover {
  color: var(--contrast-color);
}

.btn-show-all:hover > i {
  transform: translateX(3px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background: var(--main-color);
}

.contact-section-header > h2 {
  font-size: 6rem;
  color: var(--sub-color);
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
  color: var(--sub-color);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 3.6rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
}

.creator {
  text-decoration: none;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
